@use "variables" as v;
.about-me {
  margin-top: 0px;         
  padding: 45px;
  background: v.$grey-color;      
   text-align: left;
}
.about-me h2 {
  margin-top: 0px;
   font-size: 25px;
   font-weight: 700;
   margin-bottom: 20px;
   text-transform: uppercase;
}
.about-me p { 
  font-family: v.$sub-font;
  font-weight: 300;         
  font-size: 13px;          
  line-height: 1.8;        
  color: v.$text-color-light;            
  letter-spacing: 0.5px;   
  margin-bottom: 0;
   font-family: v.$font-main; 
}
