@use "variables" as v;
@use "mixins" as m;
.expertise h2 {
  margin-top: 70px; 
}
  .expertise-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .expertise-item {
    flex: 0 0 auto;
    text-align: center;
  }
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.1;

  &::after {
    content: "";
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: v.$white-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  span {
    position: relative;
    z-index: 1;
    padding: 0 4px;
    font-family: 'Montserrat', sans-serif;
  }

  &.p90 { @include m.circle-gradient(90%); }
  &.p85 { @include m.circle-gradient(85%); }
  &.p80 { @include m.circle-gradient(80%, 160deg); }
  &.p75 { @include m.circle-gradient(75%, 180deg); }
}
