@use "variables" as v;
// Демонстрація  математичних операцій
.experience {
  margin-top: v.$base-margin * 4.25;; 
}
.job-item {
  margin-bottom:  v.$gap * 2.66;;
}
.job-header {
  margin-bottom:  v.$gap / 3;
}
.company-row {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-bottom: 8px;
}
.job-title {
  font-size: 16px + 0px;
  font-weight: 600;
  color: v.$text-color;
}
.job-date {
  background-color: v.$yellow-color; 
  color: v.$white-color;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 5px;
}
.company {
  font-size: 14px;
  color: v.$subtone-color;
  margin-bottom: 8px;
}
.job-description {
  font-size: 14px;
  color: v.$text-color-light;
  line-height: 1.6;
}