@use "variables" as v;
@use "extend";
.hobbies { 
  padding: 45px;
  margin-top: -105px; 
  text-align: left; background: v.$grey-color;
  margin-bottom: -24px; 
  border-bottom: 10px solid v.$yellow-color; 
   .hobby-item { 
  display: flex;
   flex-direction: column; 
   align-items: center;
    margin-bottom: 1rem;
    .hobby-icon {
   width: 50px; 
   height: 50px;
   border: 2px solid v.$text-color;
   border-radius: 50%;
   @extend %flex-center;
   font-size: 22px;
    color: v.$text-color;
    margin-bottom: 0.5rem;
  } 
  
  } 
  p {
   font-size: 13px;
    margin: 0; color: v.$text-color-light;
             } 
 }

 