@use "variables" as v;
.resume {
  padding-top: 40px;
padding-bottom: 0px;
}
.left-col {
  background: v.$white-color;
  text-align: center;
  padding: 0px;
  margin-top: -64px;
}
.photo-box img {
    width: 100%;
    height: auto;
    display: block;
}
.yellow-block {
    background-color: v.$yellow-color;
    width: 100%;
    height: 80px; 
    margin: 0px 0;
}
.resume-card {
  max-width: 960px;
  margin: 0 auto;
 padding: 40px ;
  background: v.$white-color;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
  .resume-card {
    padding: 20px;
    max-width: 100%;
  }
}
.gap-col {
  width: 5%;
}
.gap-col2 {
  width: 38%;
}
body {
  font-family: Arial, sans-serif;
  background: v.$white-color;
  color: v.$text-color;
}
h2 {
   margin-top: 60px;
   font-size: 25px;
   font-weight: 700;
   margin-bottom: 20px;
   text-transform: uppercase;
}
.resume-bg {
  background-color: v.$resume-bg-color; 
  min-height: 100vh;
}
