.about-me {
  margin-top: 0px;         
  padding: 45px;
  background: #ebeaea;      
   text-align: left;
   
  
}
.about-me h2 {
  margin-top: 0px;
   font-size: 25px;
   font-weight: 700;
   margin-bottom: 20px;
   text-transform: uppercase;
}
.about-me p {
   
  font-family: 'Poppins', sans-serif;
  font-weight: 300;         
  font-size: 13px;          
  line-height: 1.8;        
  color: #555;            
  letter-spacing: 0.5px;   
  margin-bottom: 0;
   font-family: 'Montserrat', sans-serif; 
}
.experience {
  margin-top: 85px; 
}
.education .uni-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.job-item {
  margin-bottom: 40px;
}

.job-header {
  margin-bottom: 5px;
}
.company-row {
  display: flex;
  align-items: center;
  gap: 10px; /* відстань між датою і компанією */
  margin-bottom: 8px;
}

.job-title {
  font-size: 16px;
  font-weight: 600;
  color: #222;
}

.job-date {
  background-color: #FFD700; 
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 5px;
}

.company {
  font-size: 14px;
  color: #777;
  margin-bottom: 8px;
}

.job-description {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}
.hobbies {
  padding: 45px;
  margin-top: -105px;
  text-align: left;
  background: #ebeaea; 
  margin-bottom: -24px;         
  border-bottom: 10px solid #FFD700;  
}
.expertise h2 {
  margin-top: 70px; 
}
 
 
  .expertise-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  .expertise-item {
    flex: 0 0 auto;
    text-align: center;
  }

    .circle {
      width: 80px;   // 🔹 трохи менші
      height: 80px;
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 10px; 
      font-weight: 300;
      line-height: 1.1;

      &::after {
        content: "";
        width: 62px;   // 🔹 внутрішнє біле коло
        height: 62px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      span {
        position: relative; // поверх білого
        z-index: 1;
        padding: 0 4px;
         font-family: 'Montserrat', sans-serif; /* красивий геометричний */
      }
    }

/* 🔹 правильний початок градієнта — зліва зверху (135deg), тоді сіра частина піде вниз вправо */
.circle.p90 { background: conic-gradient(from 135deg, #f7c600 90%, #ddd 0); }
.circle.p85 { background: conic-gradient(from 135deg, #f7c600 85%, #ddd 0); }
.circle.p80 { background: conic-gradient(from 160deg, #f7c600 80%, #ddd 0); }
.circle.p75 { background: conic-gradient(from 180deg, #f7c600 75%, #ddd 0); }