// _variables.scss
$yellow-color: #FFD700; // жовтий
$grey-color: #ebe9e9;   // сірий фон
$text-color: #333;
$text-color-light: #555;
$white-color: #fff;
$font-main: 'Montserrat', sans-serif;
$sub-font: 'Poppins', sans-serif;
$subtone-color: #777;
$resume-bg-color: #e9ecef;
$circle-size: 80px;     // розмір кола
$circle-inner: 62px;    // внутрішнє коло
$base-margin: 20px;
$gap: 15px;