<div class="content-section" style="padding-top: 40px;"></div>
            <h1 id="personName" class="name"></h1>

            <div class="name-divider"></div>
            <p class="position">UI DESIGNER</p>
            <section class="contact-info block">
  <h2>
    CONTACT INFO_
    <i class="arrow fas fa-chevron-down"></i>
  </h2>

  <div class="row block-content">
    <div class="col-sm-4">
      <strong>PHONE</strong><br>
      <span class="contact-detail">+000 123 456 789</span>
    </div>
    <div class="col-sm-4">
      <strong>EMAIL</strong><br>
      <span class="contact-detail">urname@gmail.com</span>
    </div>
    <div class="col-sm-4">
      <strong>AREA</strong><br>
      <span class="contact-detail">Your Street Address Here</span>
    </div>
  </div>
</section>

      <section class="education mt-4">
  <h2>EDUCATION_</h2>
  <div class="row">
    <div class="col-sm-6">
      <strong>ENTER YOUR MAJOR</strong><br>
      <span class="uni-name">Name Of Your University <br> 2005–2009</span>
    </div>
    <div class="col-sm-6">
      <strong>ENTER YOUR MAJOR</strong><br>
      <span class="uni-name">Name Of Your University <br> 2009–2011</span>
    </div>
  </div>
</section>
 <section class="experience">
  <h2>EXPERIENCE_</h2>
  <div id="experience-container"></div>
</section>

            <section class="expertise">
  <h2>EXPERTISE_</h2>
  <div class="expertise-list">
    <div class="expertise-item">
      <div class="circle p90">
        <span>Adobe<br> Photoshop</span>
      </div>
    </div>
    <div class="expertise-item">
      <div class="circle p85">
        <span>Adobe<br> Illustrator</span>
      </div>
    </div>
    <div class="expertise-item">
      <div class="circle p75">
        <span>Adobe<br> Indesign</span>
      </div>
    </div>
    <div class="expertise-item">
      <div class="circle p80">
        <span>Power<br> Point</span>
      </div>
    </div>
  </div>
</section>
